.main-content{
    position:relative;
    min-height:100vh;
}

.main-content::before{
    content:"";
    position:absolute;
    inset:0;

    background-image:url("kamar operasi.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;

    opacity:0.15;

    pointer-events:none;

    z-index:0;
}

.main-content>*{
    position:relative;
    z-index:1;
}